{{#extend "template"}}
{{#content "head" mode="append"}}
    <link href="{{CDN 'css/questId.css'}}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
{{/content}}

{{#content "body"}}
    <div class="content"
        id="content-root" 
        data-is-auth={{isAuth}}
        data-is-Creator={{isCreator}}
        data-is-isPlaying={{isPlaying}}
        data-slug={{slug}}
    >
    </div>
    <script src="js/questId.js"></script>
{{/content}}
{{/extend}}
