{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN '/css/createQuest.css'}}">
    {{/content}}

    {{#content "body"}}
        <div class="container">
            {{#if isAuth}}
            <h2>{{action}}</h2>
            <hr class="extra-margins">
            <form id="mainForm" method="POST">
            <div class="input-group">
                <label for="title">Название</label>
                <input name="title" type="text" id="title" class="input-group__input input_dark" required
                       value="{{quest.title}}">
            </div>

            <div class="input-group">
                <label for="city">Город</label>
                <input name="city" type="text" id="city" class="input-group__input input_dark input-autocomplete" required
                    value="{{quest.city}}">
            </div>

            <div class="input-group">
                <label for="tags">Теги</label>
                <div class="tags">
                    {{#each quest.tags}}
                        <div class="tag">{{this}} <span class="close fa fa-times"></span></div>
                    {{/each}}
                    <input name="tags" type="text" id="tags">
                </div>
            </div>

            <div class="input-group">
                <label for="description">Описание</label>
                <textarea name="description" id="description" class="input-group__textarea">{{quest.description}}</textarea>
            </div>
                <input type="hidden" name="slug" id="slug" value="{{quest.slug}}">
            </form>
            <h5>Добавление этапов</h5>
            {{#equal quest.userCount 0}}
                <button class="btn btn_primary add-quest__button">+</button>
            {{else}}
                <button class="btn btn_primary btn_disabled">+</button>
            {{/equal}}
            <ul class="tabs add-quest__tabs" role="tablist">
                {{#each stages}}
                <li class="tabs__item">
                    <a class="tabs__link" href="#{{shortid}}" role="tab">{{title}}</a>
                </li>
                {{/each}}
            </ul>

            <div class="tab-content quests-content">
                {{#each stages}}
                    <div class="tab-content__panel" id="{{shortid}}" role="tabpanel">
                        <div class="row">
                            <div class="col-4 add-quest">
                                <div class="add-quest__preview hide">
                                    <input name="image" type="file" accept="image/jpeg, image/png" class="add-quest__input">
                                    <div class="add-quest__info">Перетащите сюда картинку или нажмите на кнопку</div>
                                    <div class="add-quest__footer">
                                        <button type="button" class="btn add-quest__add-image">Добавить</button>
                                        </div>
                                    </div>
                                <div class="add-quest__image">
                                    <span class="add-quest__action action_delete"></span>
                                    <img class="rotate0deg" src="{{src}}" alt="">
                                    </div>
                                </div>
                            <div class="col-8">
                                <div class="input-group">
                                    <label>Название</label>
                                    <input name="title" type="text" class="input-group__input input_dark title" maxlength="30" required
                                        value="{{title}}">
                                    </div>
                                <div class="input-group map-group">
                                    <label>Месторасположение</label>
                                    <input type="hidden" class="location" id="coords{{shortid}}" value="{{location.lat}},{{location.lon}}">
                                    <div class="ymap" id="map{{shortid}}"></div>
                                    </div>
                                <div class="input-group">
                                    <label>Описание</label>
                                    <textarea name="description" class="input-group__textarea description">{{description}}</textarea>
                                    </div>
                                </div>
                            </div>
                        <button type="button" class="btn btn_primary float_right add-quest_delete">Удалить</button>
                    </div>
                {{/each}}
            </div>

            <button role="{{submitButton.role}}" class="btn btn_primary btn_disabled">{{submitButton.text}}</button>
            {{else}}
            <h4 class="center">Необходимо авторизоваться</h4>
            {{/if}}
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
        <script src="{{CDN '/js/createQuest.js'}}"></script>
    {{/content}}
{{/extend}}
