<!--Card-->
<div class="card">

    <!--Card image-->
    <div class="card__image">
        <img src="{{images.0.src}}" class="img-fluid" alt="">
        <a href="/quests/{{slug}}">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card__content">
        <!--Title-->
        <h4 class="card__title">{{title}}</h4>
        <!--Text-->
        <p class="card__text">{{description}}</p>
    </div>
    <!--/.Card content-->

    <div class="card__data">
        <ul>
            <li class="float_left"><i class="fa fa-clock-o"></i> {{dateOfCreation}}</li>
            <li class="float_right"><a href="#"><i class="fa fa-comments-o"></i>{{commentsCount}}</a></li>
            <li class="float_right"><a href="#"><i class="fa fa-heart like"> </i>{{likesCount}}</a></li>
        </ul>
    </div>

</div>
<!--/.Card-->
