<article class="mini-quest-card">
    
    <div class="mini-quest-card__title-image title-image">
        <img class="title-image__img" src="{{images.0.src}}">
        <div class="title-image__caption">
            <h3 class="mini-quest-card__title">{{title}}</h3>
        </div>
    </div>
    <p class="mini-quest-card__city">
        {{city}}
    </p>
    <p class="mini-quest-card__author">
        {{author}}
    </p>
    <div class="mini-quest-card__tags">
        {{#each tags}}
        <span class="tag tag_link">{{this}}</span>
        {{/each}}
    </div>
    <div class="mini-quest-card__statistics statistics">
        
        <span class="statistics__count statistics__count_images">&#128173; {{images.length}}</span>
        <span class="statistics__count statistics__count_likes">{{likes.length}}</span>
        <span class="statistics__count statistics__count_comments">{{comments.length}}</span>
    </div>
    
    <a class="mini-quest-card__link mini-quest-card__link_yellow" href="/quests/{{slug}}"></a>
</article>
