<article class="mini-quest-card">
    
    <div class="mini-quest-card__title-image title-image">
        <img class="title-image__img" src={{img}}>
        <div class="title-image__caption">
            <h3 class="mini-quest-card__title">{{name}}</h3>
        </div>
    </div>
    
    <div class="mini-quest-card__info">
        <p>
            {{city}}
        </p>
        <p>
            {{author}}
        </p>
    </div>
    
    <div class="mini-quest-card__statistics">
        <div class="">
            <span class="count_likes">10</span>
        </div>
        <div>
            <span class="count_comments">30</span>
        </div>
        <div class="">
            <span class="count_images">50</span>
        </div>
    </div>
    
    <a class="mini-quest-card__link mini-quest-card__link_yellow" href="/quests/{{id}}"></a>
</article>
